<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Details</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/detail_style.css' %}">
    </head>
    <body>
    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}
                <p id="error"><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <div style="text-align: center;">
            <input type="submit" class="btn" value="Vote">
        </div>

    </form>
    </body>
</html>